/* Hide Scrollbar */

html {
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

/* Slideshow */

.slide-fade {
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.carousel-hidden {
    opacity: 0;
    transform: translateY(18px);
}

.carousel-visible {
    opacity: 1;
    transform: translateY(0);
}

/* Shopping Cart Drawer */

#cartDrawer {
    transition: transform 0.35s ease;
}